.appbar {
    height: max-content;
    padding: .5rem 1rem;
    background-color: aliceblue;
}

.appbar-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appbar-logo {
    width: 7%;
    height: 7%;
}